* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.body {
  background: linear-gradient(orange, black, gray, orange, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 1.7;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-logo {
  width: 200px;
}

.top-nav {
  background-color: #f2cc02;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: #ffff;
}

.top-nav i,
.top-nav span {
  vertical-align: middle;
}

.social-links a {
  width: 36px;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}
.social-links a:hover {
  color: darkgoldenrod;
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link .active {
  color: #ffff;
  border: 1px solid #f2cc02;
  background-color: #f2cc02;
}

.navbar {
  font-weight: 700;
  font-size: 20px;
  color: #092032;
  padding: 5% 3% 5% 0;
  font-family: "Henny Penny", cursive;
}

h1 {
  padding-top: 100px;
  font-size: 40px;
  color: black;
  text-align: center;
  font-family: "Henny Penny", cursive;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 500px;
  width: 290px;
  margin: 20px;
  box-shadow: 0 3px 5px #000;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #222;
  font-family: "Henny Penny", cursive;
}

.card .bg-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0% 70%);
}

.card .pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid #222;
  margin-top: -90px;
  position: relative;
}

.card .info h3 {
  color: #f0f0f0;
  font-size: 20px;
  padding: 10px 0;
}

.card .info span {
  font-size: 15px;
  color: #f3cc0f;
}

.card .info p {
  font-size: 23px;
  padding: 10px 20px;
  color: #8453a6;
}

.card .info .icons a {
  font-size: 20px;
  text-decoration: none;
  color: #f3cc0f;
  margin-top: 20px;
  padding: 0 5px;
}

.card .info .icons a:hover {
  color: white;
}

.card .info p:hover {
  color: white;
  cursor: pointer;
}

#exampleModal {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  text-align: center;
  color: white;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

footer .navbar-brand {
  color: white;
  margin-bottom: 24px;
  display: inline-block;
}

h1 {
  color: white;
}

.footer-top {
  margin-bottom: 40px;
}

.footer-bottom {
  border-top: 1px solid rgba(128, 128, 128, 0.479);
  padding-top: 30px;
}

footer .social-links a {
  margin-left: 5px;
}
